*  {
    letter-spacing: 1px;
    box-sizing: border-box;
 }
 
 html {
    min-height: 100vh;
 }

body {
    font-family: 'Montserrat', sans-serif;
    color: #f0ffff;
}

p {
    font-size: 20px;
}

/* top div  */

    #mainDiv {
        background-color: #385c50;
        width: 100%;
        position: absolute;
    }

    #headShotDiv {
        height:320px;
        display: flex;
        margin-top: 0px;
        justify-content: center;
    }

    #headShot {
        margin-top: 50px;
        border-radius: 50%;
        height: 200px;
    }

    .infoDiv{
        height: 120px;
        display: flex;
        justify-content: center;
    }

/* middle div */

    #middleDiv {
        height: 140px;
        display: flex;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #385c50;
        bottom: 100px
    }


/* bottom div */

    #pagesDiv{
        height: 100px;
        display: flex;
        background-color: #233d34;
        position: absolute;
        bottom: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #githubA{
        color: #f0ffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact {
        color: #f0ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 120px;
        margin-right: 120px;
        
    }

    #linkedinA{
        color: #f0ffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 720px) {  /* rule applies if greater than 720px*/
        .buttonDiv {
            min-height: 350px;      /*overwrites the 100px*/
            flex-direction: column;
            align-items: center;
        }
     }
