*  {
    letter-spacing: 1px;
    box-sizing: border-box;
 }
 
 html {
    min-height: 100vh;
 }

body {
    font-family: 'Montserrat', sans-serif;
    color: #f0ffff;
    background-color: #385c50;
}

#trueCodersProject  {
    color: #f0ffff;
    align-items: center;
    justify-content: center;
}

#memoryGameOne  {
    color: #f0ffff;
    align-items: center;
    justify-content: center;
}

#recipeIndex  {
    color: #f0ffff;
    align-items: center;
    justify-content: center;
}


/* home button div  */

#homeButtonDiv {
    bottom: 20px;
    margin-left: 30px;
    position: absolute;
}


.BUTTON_MZY {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #F0FFFF;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    background-color: #233D34;
    -webkit-box-shadow: 1px 1px 20px 0 #040605;
    -moz-box-shadow: 1px 1px 20px 0 #040605;
    box-shadow: 1px 1px 20px 0 #040605;
    border: solid #233D34 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
.BUTTON_MZY:hover {  
    background: #4e806f;
    border: solid #385C50 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
    text-decoration: none;
}

@media (max-width: 720px) {  /* rule applies if greater than 720px*/
    #pagesDiv {
        min-height: 100px;      /*overwrites the 100px*/
        flex-direction: column;
        align-items: center;
    }
 }
