*  {
    letter-spacing: 1px;
    box-sizing: border-box;
 }

body {
    background-color: #385c50;
    font-family: 'Montserrat', sans-serif;
    color: #f0ffff;
}

#topDiv {
    text-align: center;
    margin-top: 80px;
}

#githubA, #linkedinA {
    color: #f0ffff;
}

#contactDiv2 {
    position: relative;
}


#emailDiv {
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
}

#githubADiv{
    margin-top: 120px;
    margin-left: 30px;
    position: absolute;
}

#linkedinADiv {
    margin-top: 210px;
    margin-left: 30px;
    position: absolute;
}

#homeButtonDiv {
    bottom: 20px;
    margin-left: 30px;
    position: absolute;
}


.BUTTON_MZY {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #F0FFFF;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    background-color: #233D34;
    -webkit-box-shadow: 1px 1px 20px 0 #040605;
    -moz-box-shadow: 1px 1px 20px 0 #040605;
    box-shadow: 1px 1px 20px 0 #040605;
    border: solid #233D34 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
.BUTTON_MZY:hover {  
    background: #4e806f;
    border: solid #385C50 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
    text-decoration: none;
}
